@media(max-width:768px) {
    .contact_info{
        .banner{
            padding: 20px;
            .content-section{
                h3{
                    font-size: 30px;
                }
             
            }
        }

        .contactDetails{
          
            background-color: black;
            width: 350px;
            color: #fff;
            text-align: left;
            margin-left: 0px;
            margin: 20px;
            padding: 20px;
        
          
          
           
        }
    }
}